
*.js
BookA/BookA/obj/project.nuget.cache
BookA/BookA/obj/project.nuget.cache
BookA/BookA/obj/project.assets.json
BookA/BookA/obj/Debug/netcoreapp3.1/Razor/Views/Home/Index.cshtml.g.cs
*.dll
*.pdb
*.pdb
*.dll
*.cache
BookA/.vs/BookA/v16/.suo
*.cache
*.pdb
*.dll
*.txt
*.dll
BookA/.vs/BookA/v16/.suo
BookA/.vs/BookA/DesignTimeBuild/.dtbcache.v2
BookA/.vs/BookA/v16/.suo
*.v2
BookA/.vs/BookA/v16/.suo
*.dll
*.csproj
*.pdb
*.props
*.cache
*.txt
*.pdb
*.dll
