
@{
    Layout = "_Layout";
    ViewData["Title"] = "Home";
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />

    <link href="~/lib/twitter-bootstrap/css/bootstrap.css" rel="stylesheet" />
    
    <title>Index</title>

</head>
<body>
    <section class="jumbotron text-center">
        <div class="container">
            <h1>BookStore Application</h1>
            <p class="lead tex-muted">
                Welcome to my bookstore application. In this home page you just see all books that we have in this application. you can easily select and order any book with your confidential details. thanks for visiting my application
            </p>
            <p>
                <a href="#" class="btn btn-primary my-2">Search Book</a>
            </p>
        </div>
    </section>
    <div class="py-5 bg-light">
        <div class="container">
            <div class="row">
                <div class="col-md-4">
                    <div class="card mb-4 shadow-sm">
                        <svg class="bd-placeholder-img card-img-top" width="100%" height="225">
                            <div class="card-body">
                                <p class="card-text">
                                    This is a book of Asp.net core
                                </p>
                                <div class="d-flex justify-content-between align-items-center">
                                    <div class="btn-group">
                                        <a href="#" class="btn btn-sm btn-outline-secondary">View Details</a>
                                    </div>
                                    <small class="tex-muted">Author Name</small>
                                </div>
                            </div>
                        </svg>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="card mb-4 shadow-sm">
                        <svg class="bd-placeholder-img card-img-top" width="100%" height="225">
                            <div class="card-body">
                                <p class="card-text">
                                    This is a book of Asp.net core
                                </p>
                                <div class="d-flex justify-content-between align-items-center">
                                    <div class="btn-group">
                                        <a href="#" class="btn btn-sm btn-outline-secondary">View Details</a>
                                    </div>
                                    <small class="tex-muted">Author Name</small>
                                </div>
                            </div>
                        </svg>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="card mb-4 shadow-sm">
                        <svg class="bd-placeholder-img card-img-top" width="100%" height="225">
                            <div class="card-body">
                                <p class="card-text">
                                    This is a book of Asp.net core
                                </p>
                                <div class="d-flex justify-content-between align-items-center">
                                    <div class="btn-group">
                                        <a href="#" class="btn btn-sm btn-outline-secondary">View Details</a>
                                    </div>
                                    <small class="tex-muted">Author Name</small>
                                </div>
                            </div>
                        </svg>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
</html>
@section scripts
{

} 
